Liebe/r {{ user.registration.user.firstname }},

erstmal herzlich Willkommen bei der it-e!

Zugangsdaten:
Dein Benutzername  lautet: {{ user.registration.user.username }}
Das Initial-Passwort für unsere Dienste bekommst Du in einer separaten Mail.

Bitte ändere Dein Passwort sofort nach dem ersten Login in auf https://directory.it-economics.de

Für die Zeiterfassung verwenden wir Achievo. Die URL zum System lautet: https://achievo.it-economics.de/
Bitte trage deine Buchungen im 15min Takt ein.

Für Anliegen bezüglich der Zeiterfassung wende dich bitte an deinen jeweiligen Ansprechpartner innerhalb der it-e oder nutze unseren Servicedesk.

Sofern doch noch Fragen auftreten, erstell bitte ein Ticket in unserem Servicedesk, schreib eine Mail an sysadmin@it-economics.de oder ruf unter der 089 2154 880 10 an.
Den Servicedesk findest du unter: https://jira.it-economics.de/servicedesk/customer/portal/9

Wir wünschen Dir einen erfolgreichen Start!
Dein Adminteam
