###
## ignore testing
###
testing

###
## playbook directories
###
playbooks/*
!playbooks/apps
!playbooks/server
!playbooks/utils
!playbooks/hosting
###
## globally ignore
###
*.retry
.logintask
.directory
.save
.vagrant
.DS_Store
__pycache__
plugins/vars_plugins/__pycache__/*
screenshot_login.png
screenshot_usercreate.png
screenshot_usercreated.png
docker-compose/*

###
## this repo should not contain secret data
## so we'll ignore .git-crypt
###
.git-crypt
