Sehr geehrter Herr Tieskötter,

wir haben wieder einen neuen User angelegt.
Könnten Sie bitte folgenden User in Hornetsecurity hinzufügen:

{{ user.registration.user.mail }}

Vielen Dank und mit freundlichen Grüßen

Infrastruktur it-economics
