dn: uid={{ user.registration.user.username }},ou=people,dc=it-economics,dc=de
sn:: {{ lastname_b64 }}
mail: {{ user.registration.user.mail }}
gidNumber: {{ e_gid }}
uidNumber: {{ e_uid }}
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
uid: {{ user.registration.user.username }}
cn:: {{ name_b64 }}
homeDirectory: /home/{{ user.registration.user.username }}
givenName:: {{ firstname_b64 }}
userPassword:: {{ password_enc }}
pwdAccountLockedTime: {{ ansible_date_time.year }}{{ ansible_date_time.month }}{{ ansible_date_time.day }}{{ ansible_date_time.hour }}{{ ansible_date_time.minute }}{{ ansible_date_time.second }}Z
description: Sopra Steria Consulting
l:: {{ location_b64 }}
loginShell: /bin/bash
jpegPhoto:: iVBORw0KGgoAAAANSUhEUgAAAfQAAAH0CAMAAAD8CC+4AAAB3VBMVEUAAAC0w8u1w8
 u1xMy2xMy2xcy2xc23xc23xs24xs24xs64x865x865x8+6x8+6yM+7yNC7ydC8ydG8ytG9ytG9y9K
 +y9K/y9K/zNPAzNPAzdPAzdTBzdTBztTCztTCztXCz9XDz9XDz9bEz9bE0NbF0NfF0dfG0dfH0tjH
 09jI09nJ09nJ1NnJ1NrK1NrK1drL1dvL1tvM1tvM1tzM19zN19zN193O193O2N3P2N7P2d7Q2d7Q2
 t/R2t/R29/S2+DT2+DT3ODT3OHU3OHU3eHV3eLV3uLW3uLW3uPW3+PX3+PY3+TY4OTZ4OTZ4eXa4e
 Xa4ubb4ubb4+bc4+fd4+fd5Ofd5Oje5Oje5ejf5enf5ung5ung5urg5+rh5+ri5+vi6Ovj6Ovj6ez
 k6ezk6uzl6u3l6+3m6+3m6+7n6+7n7O7n7O/o7O/o7e/p7fDp7vDq7vDq7vHq7/Hr7/Hs7/Ls8PLt
 8PLt8fPu8fPu8vPv8vTv8/Tw8/Tw8/Xx8/Xx9PXx9Pby9Pby9fbz9fbz9ffz9vf09vf09/j19/j29
 /j2+Pn3+Pn3+fn3+fr4+fr4+vr5+vv5+/v6+/v6+/z7+/z7/Pz7/P38/P38/f39/f39/f79/v7+/v
 7+//////8LbuoFAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBg
 AAAAHdElNRQfhBQUIBCS4jm2oAAANxUlEQVR42u3dDUNUVR6AcQ+DjiCKKCAlhqTmLIZvpFGJ+JpF
 BpJpYxgaRRIF2SppFMuqhYiK2oSAzPw/61a7W5AoM/f1/O99nk9wLz89c+7bOcuWFZgh61rmd/yJQ
 SfQCXQCnUAn0Al0Ap1AJ9BBBx100EEHHXTQQQcddNBBBx10Ap1AJ9AJdAKdQCfQCXQCHXTQQQcddN
 BBBx100EEHHXTQQSfQCXQCnUAn0Al0Ap1AJ9AJdNBBBx100EEHHXTQQQcddNAJdAKdQCfQCXQCnUA
 n0Al0Ah100EEHHXTQQQcddNBBBx10Ap1AJ9AJdAKdQCfQCXQCnUAHHXTQQQcddNBBBx100KOEXlqb
 2n+4PZ3+tKevr+fTdPr9w/tTtaWgRxS9uulU7/BDWbSHw70dTdWgRwm9bNeZ76ZkyaaGzuxaBXoE0
 Jc3pkelgEbTO5aDrhm9/MBX01Jwj/sPrAFdJ3qy+ZusOCw7+HoSdHXoW3sei6umPt0Kuib0ZMu/xI
 NGWpKgK0Ev78yIR2VOlYOuAH1delo8bPpsBeiWo5d3ZcXj5s6Vg27xuZe0PxYfmjq5EnRba50Un5p
 sAd3K6obFx67XgW5dpems+Fr2oxLQ7So1Ib53JwW6TTdjuiSQ0knQrbnlelsCaqwedDs6npXAmjsK
 ugWt6pdA+3IV6GFXOy4BN/4i6OG2a0oCb6oR9DA7kZMQyh0HPbQS3RJS5xOgh1Nxv4RWXzHooUzbh
 yTErpSCHnxlIxJqw6tAD/z/+bAI6vFCD9/cKvVYoNtg/pt6KegBztuHxIquFIMeVEV9Ykm9oAfVOb
 GmNOgB3XsVizoGehC9mrMJPdcAuv/VZMSqMhtA97vSMbGsn0pB97kvxbq+AN3fjoiFHQLdz+qe2Ig
 +uwl0/yoZEysbS4LuW11iaWnQ/Sol1pYC3afB/Y696HdKQPelbrG4LtD9aKtY3cuge19ixG70H4pA
 j8dtGVtu0UQUvTxjO3pmDehxuUS34mI9mugbsvajZ6tB97Q+UVAv6F62RVRUD7qHfasDfQB079osS
 toMumd9rQX9EuhetVHUtBF0j+rRg34RdI9uxs3pQX+yBnRPel8U1Qa6J4/X7mtCn0iA7kH7RFVNoM
 fnxsz/GwTdfetyutCzFaC7rk2U9Q7orvtJG/oN0N1WL+raBLrLOvWhd4Duslv60G+A7q4aUVg16PG
 au//eu6C76ppG9CHQ3VSS1Yg+lwTdRbtEZY2guyitE/0s6C66qRN9FHTnlek0l1wp6I7boRRdGkB3
 XLtW9JOgO+6yVvRB0B33SCv6Q9CdViFqKwfdYQ160VOgO+y4XvQjoDvsgl70T0CP0yO2UB60RQj9n
 l70CdCdlcjpRc8mQHdUtSiuEnRHpTSjbwfdUW9oRm8GPW6X6SJHQXdUp2b0dtAd1aUZ/RzojurVjP
 456I76p2b0y6A7akgz+hDojroOevzQRzWjj4AeP/RR0B11G/T4od8EneEd9Bigj2hGvw461+mggw7
 6MxrQjN4PuqMuaka/ALqjzmpGPw26o05qRm8D3VGHNKO3gu6ovZrRd4HuqM2a0V8C3VGrNaOvAt1Z
 03rNfzWgO+uWXvQboDvsa73o/aA7TPHXDqdAd5jij9maQXdYnV70WtAdtkLtqgQBr0kQqcUD1b4lF
 /Qy0FFCV7u8VDfojjuoFf0A6I6r1Yr+IuiOK5rSaZ4xoDtvUCf6AOguUrrszDHQ4/ejXgO6myY1mt
 81oLupRyP6RdBd9ZpG9N2guyo5q898Ogm6u/r1ofcZ0N31Js/S44e+6ok289lS0N12SRt6rwHdbTu
 1oe8A3XUJZfdn7hWB7r4PdaGfNqC7r0YXejXoXqRqb+UBA7oXNTKNix+6GdNj/rMB3ZuO6EFvBd2r
 py5qrtomi0H3qhNa0I8b0L2q5JEO80dJ0L3rPR3obQZ0D/+rq/hVn0yC7mUq1pQ7aED39LGLgmv1n
 xOge1sT70PGD91ctd38igHd617I2m0+VwO69522G73TgO7DzdgJm83vJEH3ox08Uo0fus1L0HQb0P
 2p1NoB/k4J6LEb4FMGdN+ydC+f0wZ0H+/GDttoPpwA3c+qM/aZZyoN6HG7B7/HgO5z1i0C32FA9z3
 LtmDtN6AHcLVu1drQN0pAD2Qy99CiN6SqDOiBVG/NkrFTdQb0gGqw5Nl69h8G9MBqtsI8t9+AHmCH
 bTB/w4AeN/WDBvS4qR82oAdeS6gbeOUOGNBDaG+I68bO7Dagh1IqtOv1qe0G9JDaHNL7UxObDOihV
 RHKSxXfrzWgh9iK3uDNP1tuQA+3EwHfks0eNwb0sNsW6A/7xDYDugWtDnBJycHVBnQ7OjoTDPn0EW
 NAt6Wa74Mwv7bBgG5RiXd9vz03826RAd2uqn3ejHeg0hjQrWuPj9P4O7uNAd3Gkid9uhn/63tJA7q
 tlad9uFWT/WiNMaBbXPUFj9mz3VXGgG55lWkPr9qn0+uMAX2Z/X+C8vb73pDfay83BnQV6L9dtu8b
 ck8+1JQwBnQ16L/fpOu840Z8/FSN0RPof/bKJw5XDL9//hWjKtDnt6VjtFDx0Y56oy3Q/1ZFc1feH
 zff7Hq9wigM9MXm841tl5ZYMX7si7bGNUZpoD+rlZv2vN01OHx7wb3aqdvDAx+/vac2aTQH+pIVl1
 VVbayr21hVWVZsIhHoMQx00EEHHXTQQQcddNBBBx100Al0Ap1AJ9AJdAKdQCfQCXQCHXTQQQcddNB
 BBx100EEHHXQCnUAn0Al0Ap1AJ9AJdAKdQAc9WugrrP/Dl64F3csqWr6e6bDcvGhQvj+5CXRvqnv/
 hz9WfHvNbvTO/27QeK6hGHSXg/rO83f/XG//JZvNm/5ajrDvrTWguxnUF+yYZPEqnhsfzz/S3LW2j
 aA7H9QXrLpv7aL7ZU8vPDueTiVAz7/kru57iy7a22XvJG7Rnb2+aC4DPa9BvXXg2RvvHLR5ErfoXk
 9DJ2pAf36b2398/n5ZVu64sG+JRcXP+D7Qq0V/5qA+vwcW7nhaO73kYWc+378K9IIG9fmNWLcwe9l
 4fpv6XT1eDXr+g/qCei0zT1zO/9hvnX4lAXqeg/qC2uxC/6Cwo3/U81ppvNHzHtQX3PnYqWgSt1hz
 V45WxhW9vmPE4cbWFm2Tt2na2Tn8u3NrUdzQk7u7XWyHOlZmi/nqcedn8eDi3pXxQV/XOjjrbhfUb
 yy5H5u44u48nlw+tD4O6I4H9QWdtgP9Qw9OZbTj5UijuxvUF9Rsg/nrHp3M/e7dyWiiux/U5zdbH7
 75SzMens9Aa0XU0L0Z1Od3d23Y5m4mcYv2Y3tdZNA9HNTndz3kzRPdTuIW/6d8fucK/ejrD3k5qC/
 oQrjoZ306remvWtZqRneweXkhHQ3TvNnPMxsu9LVaS9CTey5Mir9lU+GZ1834fHITH+8o1oW+/tA3
 s+J/v1SFZb5mIoDTm+p7q1wLus+D+vxurAxpEnc1oBPMXc/vtdpQ0QMY1BfUH61J3KLl81pteOgBD
 eoLao/cJG7x12rfWG0jekVwg/qC9gZvXj8Twnlmh06UW4e+V8LpcW3Q5uUTIZ3qXtD//MlbHfAkbk
 hADxtdrgb7cD0toIePLueCNH9TQLcBXVoCnMTNgm4H+ty2yE/iQH+qyXVRn8SBvsj7B8GsQ/SxgG4
 PunwWhPkBAd0mdHnHf/MtT0C3Cz33qt/ma+8K6HahS8bnj50S3wnotqHLz6URnsT9XgPoTzdY5KN5
 S/jnlwJ9kT7wz3zrHOh2ovv3sVPFfQHdUvSZzf6YF18X0G1Flwl/PnY6L6Dbiy7XiqM5iQP9eXVHc
 xIH+nM7HMlJHOjPzeuPnYqHBXTb0eWht+t1dQvo9qPLqJcfO7UK6BrQpc87821Z0HWgy0nPJnGTAr
 oSdNkdtUkc6Es3tTFikzjQ82jci5VEDwvomtDlivuPnbZnQdeFLh+5NV/3QEBXhi5vuTNfPiygq0N
 /stUV+kUBXR+6TLpZbfWIgK4RXYaXR2YSB3re9Tg1X/9AQFeKLm87M1/xo4CuFj3X4Ai9R0DXiy6Z
 DQ7MjwnomtHlVuEfO6WyoOtGl4FCzSsfCujK0aUzCpM40AtsXwQmcaAX2Ewh++EcF9CjgC4T5eonc
 aAX3FBC+yQO9MI7n595ckRAjwy6tOaF/pmAHiH07HbdkzjQnZTHx042T+JAd9S/ltq4uOqRgB4xdO
 ldYhI3KqBHDl3eey56r4AeQfTcrueYnxDQo4guUy8886/WkAM9mugy9qyPnap+EdAjii7fJpRO4kB
 30RmlkzjQ3fTmIsfeJqBHGn12y1OHviMHujP0RiXocv/vHztVZwR0Z+gpLegyvHAl0ZU3BPTIo8vF
 BQd+SUCPAboc0zeJA91t2b8+dno1B3o80OWX6v8d9YaMgB4TdLlZ8sdBl9wU0GODLl/9cdBfCugxQ
 peO3475pIAeK3RpMo050GOGPt2UEdBjhq4v0EEHHXTQQQcddNBBBx100EEHHXTQQQcddAKdQCfQCX
 QCnUAn0EEHHXTQQQcddNBBBx100EEHHXTQQQcddFBAJ9AJdAKdQCfQCXTQQQcddNBBBx101W0HPX7
 VgQ466KCDDjrooIMOOuiggw466KCDDjrooBPoBDqBTqCTPvQXesjnKq1DpzADHXTQQQcddNBBBx10
 0EEHHXQCnUAn0Al0Ap1AJ9AJdAKdHKD/B7fc5Gpc4s/xAAAAjnpUWHRSYXcgcHJvZmlsZSB0eXBlI
 EFQUDEAAHicVY1RCsMwDEP/fYoeQXYdJz1OtmSjULrR+38snTOaCYzRE5bpWfd6rPfpfbwe61ZpOs
 UQ0hCTLWZo0qIFkAxXahPAaAzSmfnSDOb8zV1Mvptnvo1B5wksZ+E8cC8VnkdO11F/qTFYsRKXH9H
 0X355+gBSczBIVpngAgAAAABJRU5ErkJggg==
{% if user.registration.user.mobilephone %}mobile: {{user.registration.user.mobilephone}}{%else%}{%endif%}
