Liebe/r {{ user.registration.user.firstname }},

erstmal herzlich Willkommen bei der it-e!

Zugangsdaten Intranet & E-Mail:

Dein Benutzername fürs Intranet lautet: {{ user.registration.user.username }}

Der Benutzername für das E-Mail Postfach lautet:
{{ user.registration.user.mail }}

Das Initial-Passwort für beide Dienste bekommst Du - falls noch nicht
erfolgt - per SMS.

Bitte ändere Dein Passwort sofort nach dem ersten Login in folgenden
Systemen:
* Intranet: Directory https://directory.it-economics.de
* E-Mail Server: Über die Weboberfläche unter http://webmail.it-economics.de

Sofern doch noch Fragen auftreten, schreib bitte eine Mail an
sysadmin@it-economics.de oder ruf unter der 089 2154 880 10 an.

Der Zugriff auf dein Postfach erfolgt über folgende Wege:
* Web-Oberfläche (Outlook Web Access): http://webmail.it-economics.de
* Per E-Mail Client (Outlook)
* SMTP Server: smtp.office.de 587 STARTTLS
* POP3/IMAP Server: outlook.office.de 995/993 TLS

Alternativ kannst du dir auf der Weboberfläche auch eine Weiterleitung aller
E-Mails einrichten.

Der WebClient (OWA) kann sowohl im Firefox, als auch im Internet Explorer
aufgerufen werden.

Dein S/MIME Zertifikat der it-economics (zur Ende-zu-Ende Verschlüsselung
von E-Mails und nach Bedarf auch dem Zugang zum it-economics VPN) kannst du
unter folgender Adresse herunter laden: https://certs.it-economics.de

Einen leichten Einstieg in das Vokabular und wichtige Infos erhältst du unter
https://social.it-economics.de/display/HR/Die+ersten+100+Tage+bei+it-economics

Für die Zeiterfassung verwenden wir Achievo.

Dein Account bei Achievo ist ebenfalls bereits eingerichtet. Die URL zum
System lautet: https://achievo.it-economics.de/

Bitte trage deine Buchungen im 15min Takt ein.

Für Anliegen bezüglich der Zeiterfassung wende dich bitte an deinen
jeweiligen Ansprechpartner innerhalb der it-e oder an
personal@it-economics.de.

Wir wünschen Dir einen erfolgreichen Start!
