Liebe/r {{ user.registration.user.firstname }},

erstmal herzlich Willkommen bei der it-e!

Zugangsdaten:

Dein Benutzername lautet: {{ user.registration.user.username }}

Das Initial-Passwort für beide Dienste bekommst Du - falls noch nicht
erfolgt - per Mail.

Bitte ändere Dein Passwort sofort nach dem ersten Login in folgenden
Systemen:
* Directory https://directory.it-economics.de

Sofern doch noch Fragen auftreten, schreib bitte eine Mail ansysadmin@it-economics.de oder ruf unter der 089 2154 880 10 an.

Für die Zeiterfassung verwenden wir Achievo.

Dein Account bei Achievo ist ebenfalls bereits eingerichtet. Die URL zum System lautet: https://achievo.it-economics.de/

Bitte trage deine Buchungen im 15min Takt ein.

Für Anliegen bezüglich der Zeiterfassung wende dich bitte an deinenjeweiligen Ansprechpartner innerhalb der it-e.

Wir wünschen Dir einen erfolgreichen Start!
