# The syslog facility that should be used for logging purposes.
log_facility=daemon
pid_file=/var/run/nagios/nrpe.pid

# NOTE: This must be a non-priviledged port (i.e. > 1024).
# NOTE: This option is ignored if NRPE is running under either inetd or xinetd
server_port={{ nagios.port }}

# NOTE: This option is ignored if NRPE is running under either inetd or xinetd
server_address=0.0.0.0

# NOTE: This option is ignored if NRPE is running under either inetd or xinetd
nrpe_user={{ nagios.user }}

# NOTE: This option is ignored if NRPE is running under either inetd or xinetd
nrpe_group={{ nagios.user }}

# NOTE: This option is ignored if NRPE is running under either inetd or xinetd
# Will also be enforced by UFW
allowed_hosts=127.0.0.1,192.168.2.221,10.0.2.2,82.135.62.124,87.139.241.239,78.47.68.141,212.114.221.222,192.168.3.15,0.0.0.0,192.168.2.120,3.125.97.169,192.168.7.1,192.168.7.2

# *** ENABLING THIS OPTION IS A SECURITY RISK! ***
# Read the SECURITY file for information on some of the security implications
# of enabling this variable.
#
# Values: 0=do not allow arguments, 1=allow command arguments
dont_blame_nrpe=1

# Values: 0=debugging off, 1=debugging on
debug=1

command_timeout=60
connection_timeout=300

# The following uses hardcoded command arguments...
command[check_users]=/usr/lib/nagios/plugins/check_users -w 5 -c 10
command[check_load]=/usr/lib/nagios/plugins/check_load -w 35,28,22 -c 60,50,40
command[check_sda1]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -p /dev/sda1
command[check_root]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -p /dev/mnagioser/ubuntu-root
command[check_total_procs]=/usr/lib/nagios/plugins/check_procs -w 2000 -c 6000
command[check_zombie_procs]=/usr/lib/nagios/plugins/check_procs -w 5 -c 10 -s Z
command[check_sensors]=/usr/lib/nagios/plugins/check_sensors
command[check_ite_disk]=/usr/lib/nagios/plugins/check_disk -w 6% -c 3% -W 6% -K 3% -l -e -A -i "var/lib/docker"  -i "mnt/backup/" -i "snap/" --exclude-type=tracefs --exclude-type=overlayfs --exclude-type=tmpfs --exclude-type=nsfs --verbose
#/usr/lib/nagios/plugins/check_disk -w 6% -c 3% -W 6% -K 3% -l -e -A -i "/srv/sd[a-b][1-3]" --exclude-type=tracefs --exclude-type=overlayfs --exclude-type=tmpfs --exclude-type=nsfs --verbose
command[check_ite_raid_sda]=/usr/lib/nagios/plugins/check_smart /dev/sda
command[check_ite_raid_sdb]=/usr/lib/nagios/plugins/check_smart  /dev/sdb
command[check_ite_ssd]=/usr/lib/nagios/plugins/check_ssd
command[check_ldap_replication]=/usr/lib/nagios/plugins/check_ldap_replication
command[check_mysql_repl]=/usr/lib/nagios/plugins/check_mysql_repl -S -w 30 -c 500
command[check_offsite_backup]=/usr/lib/nagios/plugins/check_offsite_backup
command[check_drbd]=/usr/lib/nagios/plugins/check_drbd
command[check_apt]=/usr/lib/nagios/plugins/check_apt
command[check_backup]=/usr/lib/nagios/plugins/check_backup.php $ARG1$ 
command[check_hosting_backup]=/usr/lib/nagios/plugins/check_hosting_backup $ARG1$ $ARG2$

# local configuration:
#	if you'd prefer, you can instead place directives here
include=/etc/nagios/nrpe_local.cfg

# you can place your config snipplets into nrpe.d/
include_dir=/etc/nagios/nrpe.d/
