###
## ignore testing
###
testing

###
## globally ignore
###
*.retry
.logintask
.directory
.save
.vagrant
.DS_Store
__pycache__
screenshot_login.png
screenshot_usercreate.png
screenshot_usercreated.png
docker-compose/*
