Liebe/r {{ user.registration.user.firstname }},

erstmal herzlich Willkommen bei der it-e!

Zugangsdaten Intranet & E-Mail:

Dein Benutzername fürs Intranet lautet: {{ user.registration.user.username }}

Das Initial-Passwort für unsere Dienste bekommst Du - falls noch nicht
erfolgt - über deinen Kontakt bei der it-e.

Bitte ändere Dein Passwort sofort nach dem ersten Login in folgenden
Systemen:
* Intranet: Directory https://directory.it-economics.de

Sofern doch noch Fragen auftreten, erstell bitte ein Ticket in unserem oder ruf unter der 089 2154 880 10 an.
Den Servicedesk findest du unter: https://jira.it-economics.de/servicedesk/customer/portal/9

Für die Zeiterfassung verwenden wir Achievo.

Dein Account bei Achievo ist ebenfalls bereits eingerichtet. Die URL zum
System lautet: https://achievo.it-economics.de/

Bitte trage deine Buchungen im 15min Takt ein.

Für Anliegen bezüglich der Zeiterfassung wende dich bitte an deinen
jeweiligen Ansprechpartner innerhalb der it-e oder nutze unseren Servicedesk.

Wir wünschen Dir einen erfolgreichen Start!
Dein Adminteam
