version: '2'

services:

{% for key, container in app.value.items() %}  {{ container.name }}:
    container_name: {{ container.name }}
    image:  {{ container.image }}
    restart: {{ container.restartPolicy }}
    {% if (container.volumes is defined) and (container.volumes | length() > 0) %}volumes:
{% for volume in container.volumes %}    - {{ volume }}
    {% endfor %}{% endif %}labels:
    {% if (container.labels is defined) and (container.labels | length() > 0) %}{% for label in container.labels %}  - {{ label }}
    {% endfor %}{% endif %}{% if (container.environment is defined) and (container.environment | length() >0) %}environment:
      {% for var_name, var_value in container.environment.items() %}  {{ var_name }}: {{ var_value }}
    {% endfor %}{% endif %}{% if (container.network_mode is defined) %}network_mode: {{ container.network_mode }} 
    {% endif %}

{% endfor %}

networks:
  default:
    external: 
      name: "{{ traefik_network }}"
